<a href="https://colab.research.google.com/github/kulraj97/campusx/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [27]:
# Write your code here
print("Data","Science","Mentorship","Program",sep="-",end=" ")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program By-CampusX

In [5]:
print("lucky",end=" ")
print("oye")

lucky oye

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [10]:
# Write your code here
f=300
c = ((f-32)*5)/9
print(int(c))

148

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [11]:
# Write your code here
a=int(input("enter 1 number"))
b=int(input("enter 2 number"))
a,b=b,a
print(a,b)

enter 1 number10
enter 2 number20
20 10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [17]:
# Write your code here
x1=int(input("enter 1 number"))
y1=int(input("enter 2 number"))
x2=int(input("enter 1 number"))
y2=int(input("enter 2 number"))
eucledian_distance=((x2-x1)**2-(y2-y1)**2)**0.5
print(float(eucledian_distance))

enter 1 number10
enter 2 number10
enter 1 number2
enter 2 number2
0.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [16]:
# Write your code here
p=1000
r=0.1
t=2
s_i=(p*r*t)/100
print(s_i)

2.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [18]:
# Write your code here
n=int(input("enter value"))
sum=(n*(n+1))/2
print(sum)

enter value5
15.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [19]:
# Write your code here
a1=5
a2=7
d=a2-a1
n=int(input("enter nth term"))
an=a1+(n-1)*d
print(an)

enter nth term5
13

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [28]:
# Write your code here

enter value22/7

ValueError: ignored

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [24]:
# Write your code here
h_t=float(input("enter value"))
l_t=float(input("enter value"))
b_t=float(input("enter value"))
h_g=float(input("enter value"))
r_g=float(input("enter value"))


v_t=l_t*b_t*h_t
v_g=h_g*r_g*r_g*3.14

t_g=v_t/v_g
print(t_g)

enter value20
enter value20
enter value20
enter value3
enter value1
849.2569002123142